**/.git/**
**/.github/**
**/.vscode/**
**/node_modules/**
**/src/**
**/test/**
**/*.map
**/*.ts
vsc-extension-quickstart.md
eslint.config.mjs
tsconfig.json
package-lock.json
PUBLISHING.md
CONTRIBUTING.md
SECURITY.md
CODE_OF_CONDUCT.md.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
